<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.lightingsummer.movie.cinema.dal.dao.HallFilmInfoMapper">
  <resultMap id="BaseResultMap" type="club.lightingsummer.movie.cinema.api.po.HallFilmInfo">
    <id column="UUID" jdbcType="INTEGER" property="uuid" />
    <result column="film_id" jdbcType="INTEGER" property="filmId" />
    <result column="film_name" jdbcType="VARCHAR" property="filmName" />
    <result column="film_length" jdbcType="VARCHAR" property="filmLength" />
    <result column="film_cats" jdbcType="VARCHAR" property="filmCats" />
    <result column="film_language" jdbcType="VARCHAR" property="filmLanguage" />
    <result column="actors" jdbcType="VARCHAR" property="actors" />
    <result column="img_address" jdbcType="VARCHAR" property="imgAddress" />
  </resultMap>
  <sql id="Base_Column_List">
    UUID, film_id, film_name, film_length, film_cats, film_language, actors, img_address
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_hall_film_info
    where UUID = #{uuid,jdbcType=INTEGER}
  </select>
    <select id="selectHallFilmInfoByCinemaId"
            resultType="club.lightingsummer.movie.cinema.api.po.HallFilmInfo">
      select
      <include refid="Base_Column_List" />
      from tb_hall_film_info
      where film_id in (SELECT film_id FROM tb_field where cinema_id = #{cinemaId} GROUP BY film_id)
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_hall_film_info
    where UUID = #{uuid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="club.lightingsummer.movie.cinema.api.po.HallFilmInfo">
    insert into tb_hall_film_info (UUID, film_id, film_name, 
      film_length, film_cats, film_language, 
      actors, img_address)
    values (#{uuid,jdbcType=INTEGER}, #{filmId,jdbcType=INTEGER}, #{filmName,jdbcType=VARCHAR}, 
      #{filmLength,jdbcType=VARCHAR}, #{filmCats,jdbcType=VARCHAR}, #{filmLanguage,jdbcType=VARCHAR}, 
      #{actors,jdbcType=VARCHAR}, #{imgAddress,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="club.lightingsummer.movie.cinema.api.po.HallFilmInfo">
    insert into tb_hall_film_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        UUID,
      </if>
      <if test="filmId != null">
        film_id,
      </if>
      <if test="filmName != null">
        film_name,
      </if>
      <if test="filmLength != null">
        film_length,
      </if>
      <if test="filmCats != null">
        film_cats,
      </if>
      <if test="filmLanguage != null">
        film_language,
      </if>
      <if test="actors != null">
        actors,
      </if>
      <if test="imgAddress != null">
        img_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        #{uuid,jdbcType=INTEGER},
      </if>
      <if test="filmId != null">
        #{filmId,jdbcType=INTEGER},
      </if>
      <if test="filmName != null">
        #{filmName,jdbcType=VARCHAR},
      </if>
      <if test="filmLength != null">
        #{filmLength,jdbcType=VARCHAR},
      </if>
      <if test="filmCats != null">
        #{filmCats,jdbcType=VARCHAR},
      </if>
      <if test="filmLanguage != null">
        #{filmLanguage,jdbcType=VARCHAR},
      </if>
      <if test="actors != null">
        #{actors,jdbcType=VARCHAR},
      </if>
      <if test="imgAddress != null">
        #{imgAddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="club.lightingsummer.movie.cinema.api.po.HallFilmInfo">
    update tb_hall_film_info
    <set>
      <if test="filmId != null">
        film_id = #{filmId,jdbcType=INTEGER},
      </if>
      <if test="filmName != null">
        film_name = #{filmName,jdbcType=VARCHAR},
      </if>
      <if test="filmLength != null">
        film_length = #{filmLength,jdbcType=VARCHAR},
      </if>
      <if test="filmCats != null">
        film_cats = #{filmCats,jdbcType=VARCHAR},
      </if>
      <if test="filmLanguage != null">
        film_language = #{filmLanguage,jdbcType=VARCHAR},
      </if>
      <if test="actors != null">
        actors = #{actors,jdbcType=VARCHAR},
      </if>
      <if test="imgAddress != null">
        img_address = #{imgAddress,jdbcType=VARCHAR},
      </if>
    </set>
    where UUID = #{uuid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="club.lightingsummer.movie.cinema.api.po.HallFilmInfo">
    update tb_hall_film_info
    set film_id = #{filmId,jdbcType=INTEGER},
      film_name = #{filmName,jdbcType=VARCHAR},
      film_length = #{filmLength,jdbcType=VARCHAR},
      film_cats = #{filmCats,jdbcType=VARCHAR},
      film_language = #{filmLanguage,jdbcType=VARCHAR},
      actors = #{actors,jdbcType=VARCHAR},
      img_address = #{imgAddress,jdbcType=VARCHAR}
    where UUID = #{uuid,jdbcType=INTEGER}
  </update>
</mapper>